* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   color: aliceblue;
}

body {
   background: #181818;
}

#menubar {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding-left: 10vw;
   padding-right: 10vw;
   height: 20vh;
}

#content {
   width: 60vh;
   height: 60vh;
   margin-left: auto;
   margin-right: auto;
}

.grid {
   width: 60vh;
   height: 60vh;
   display: flex;
   flex-wrap: wrap;


   background-image: url("b1.jpg");
   background-size: contain;
   object-fit: contain;
   background-repeat: repeat;
   border-radius: 20px;
}



.square {
   height: 20vh;
   width: 20vh;
}