:root {
   --bordrad: 10px;
}

* {
   margin: 0;
   padding: 0;
   text-align: center;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   color: aliceblue;
}

body {
   background: #181818;
   overscroll-behavior: none;
   user-select: none;
   height: 100vh;
}

.row {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}

.col {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

.button {
   height: clamp(30px, 10vh, 70px);
   width: clamp(40px, 30vh, 150px);
   background-color: rgba(22, 158, 119, 0.869);
   font-weight: 200;
   box-shadow: #8fd49f 3px 3px 3px;
   border: 1px solid rgb(111, 194, 144);
   background-color: rgba(22, 158, 119, 0.869);
   font-size: clamp(1.5rem, 5vw, 2rem);
   cursor: pointer;
   line-height: clamp(30px, 10vh, 60px);
   padding: 1px;
   border-radius: var(--bordrad);
}

.button:hover {
   background-color: rgba(198, 226, 218, 0.869);
   transition: all 0.2s ease-in-out;
}

#menubar {
   height: 10vh;
   width: 90vw;
}

#gamearea {
   height: 60vh;
   width: 90vw;
}

#GameOver_popup {
   height: fit-content;
   width: clamp(300px, 80vw, 500px);
   color: rgb(248, 248, 248);
   background-color: rgb(34, 12, 12);
   z-index: 10;
   border-radius: var(--bordrad);
   display: none;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   padding: 20px;
}

#content {
   justify-content: center;
   border-radius: var(--bordrad);
}

#controlbtn {
   width: 80vw;
   height: 10vh;
}

#comentaryarea {
   height: 10vh;
   width: 90vw;
}

#timebar,
#scorebar,
#highscorebar {
   padding: 1vh;
   background-color: rgb(104, 107, 104);
   border-radius: var(--bordrad);
   font-size: clamp(10px, 2vw, 20px);
   display: flex;
   flex-direction: row;
}

.grid {
   width: 60vh;
   height: 60vh;
   display: flex;
   flex-wrap: wrap;
   background-image: url("images/backgrndImg.webp");
   background-size: contain;
   object-fit: contain;
   background-repeat: repeat;
   border-radius: var(--bordrad);
   cursor: url('images/hammer1.webp'), pointer;
}

.grid img {
   width: 10vh;
   height: 10vh;
   margin-top: 15vh;
}

.square {
   height: 20vh;
   width: 20vh;
}

#game_Result {
   font-size: clamp(20px, 4vw, 40px);
   font-weight: 600;
   color: rgb(210, 35, 35);
}

#game_over_nme {
   font-size: clamp(20px, 4vw, 40px);
   font-weight: 600;
   color: rgb(4, 249, 61);
}

#popupbtn {
   width: 100%;
}

#playMusic,
#pauseMusic {
   height: clamp(10px, 8vh, 40px);
   width: clamp(10px, 8vh, 40px);
}

@media screen and (max-width: 600px) {
   body {
      height: 85vh;
   }

   .grid {
      width: 90vw;
      height: 90vw;
   }

   .square {
      height: 30vw;
      width: 30vw;
   }

   .grid img {
      width: 15vw;
      height: 15vw;
      margin-top: 30vw;
   }

   .button {
      height: clamp(40px, 10vh, 30px);
      width: clamp(40px, 30vh, 80px);
      line-height: clamp(40px, 10vh, 30px);
   }

   @keyframes jump {
      0% {
         margin-top: 7vw;
      }

      50% {
         margin-top: 6vw;
      }

      100% {
         margin-top: 7vw;
      }
   }
}

@keyframes jump {
   0% {
      margin-top: 4vh;
      display: none;
      opacity: 0;
   }

   50% {
      margin-top: 3vh;
      opacity: 1;
   }

   100% {
      margin-top: 4vh;
      display: none;
      opacity: 0;
   }
}